.button{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.button {
    transition: filter 0.2s;
}

.button:hover {
    filter: invert(48%) sepia(91%) saturate(603%) hue-rotate(75deg) brightness(92%) contrast(91%);
}
