.data-container{
    height: 89vh;
    width: 100%;
}

.textBox{
    height: 10vh;
    width: 100%;
    border-bottom: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.my-container{
    width: 33.33%;
    height: 100vh;
}